@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";
@plugin '@tailwindcss/typography';

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-text: oklch(var(--foreground));
  --color-foreground: oklch(var(--foreground));
  --color-background: oklch(var(--background));
  --color-primary: oklch(var(--primary));

  --font-sans: "Lato", system-ui, sans-serif;
  --font-caveat: "Caveat", ui-serif, serif;

  --animate-twinkle: twinkle 2s;

  @keyframes twinkle {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
}

@layer base {
  :root {
    --foreground: 30% 0.02 296; /* Darker text */
    --background: 98% 0.01 294; /* Light background */
    --primary: 60% 0.06 292; /* A bit more saturated accent */
  }
  .dark {
    --foreground: 93.91% 0.0097 296.89;
    --background: 18.98% 0.0041 294.42;
    --primary: 28.72% 0.0462 291.63;
  }
}
