@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";
@plugin '@tailwindcss/typography';

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-text: hsl(var(--foreground));
  --color-foreground: hsl(var(--foreground));
  --color-background: hsl(var(--background));
  --color-primary: hsl(var(--primary));
  --color-secondary: hsl(var(--secondary));

  --font-sans: "Lato", system-ui, sans-serif;
  --font-caveat: "Caveat", ui-serif, serif;

  --animate-twinkle: twinkle 2s;

  @keyframes twinkle {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
}

@layer base {
  :root {
    --foreground: 254 74% 9%;
    --background: 251 73% 97%;
    --primary: 257 76% 29%;
    --secondary: 257 76% 71%;
  }
  .dark {
    --foreground: 254 74% 91%;
    --background: 251 5% 8%;
    --primary: 251 73% 97%;
    --secondary: 257 76% 71%;
  }
},

