@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";
@plugin '@tailwindcss/typography';

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-text: oklch(var(--foreground));
  --color-foreground: oklch(var(--foreground));
  --color-background: oklch(var(--background));
  --color-primary: oklch(var(--primary));
  --color-accent: oklch(var(--accent));

  --font-sans: "Lato", system-ui, sans-serif;
  --font-caveat: "Caveat", ui-serif, serif;

  --animate-twinkle: twinkle 2s;

  @keyframes twinkle {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
}

@layer base {
  :root {
    --foreground: 30% 0.02 296;
    --background: 98% 0.01 294;
    --primary: 55.7% 0.199 314.53;
    --accent: 81.18% 0.161 97.64;
  }
  .dark {
    --foreground: 90% 0.004 297;
    --background: 18.98% 0 294;
    --primary: 55.7% 0.199 314.53;
    --accent: 81.18% 0.161 97.64;
  }

  *:focus-visible {
    @apply outline-none ring-2 ring-offset-2 ring-offset-background ring-primary;
  }

  p,
  li {
    @apply text-pretty;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-balance;
  }
}
