---
import SpacePageLayout from "../layouts/SpacePageLayout.astro";
import Hero from "../components/Hero.astro";
import ProjectPlanets from "../components/ProjectPlanets.astro";
---

<SpacePageLayout>
  <div class="flex flex-col gap-8 my-16">
    <Hero />
    <ProjectPlanets />
  </div>
</SpacePageLayout>
