---
import Prose from "./Prose.astro";
---

<Prose
  ><h1 class="text-3xl text-foreground">Greetings, voyager!</h1>
  <p>
    I'm Stian and I enjoy making things on the web. These are some of my
    projects, feel free to check them out!
  </p>
</Prose>
