---
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<div
  class="relative border-secondary/50 rounded-md border p-4 flex flex-col gap-4 backdrop-blur"
>
  <a class="grid place-items-center" href={`/projects/${project.id}`}
    ><img
      class="size-40 rounded-full max-w-full h-full aspect-square"
      src="https://placehold.co/400"
    /></a
  >
  <p class="text-lg text-center">
    {project.data.name}
  </p>
  <p>{project.data.description}</p>
  <div class="flex gap-1 flex-wrap">
    {
      project.data.tags.map((tag) => (
        <span class="bg-accent rounded-md px-2 py-1 text-xs">{tag}</span>
      ))
    }
  </div>
</div>
