---

---

<div
  class="prose text-foreground mx-auto dark:prose-invert
  prose-h1:font-bold prose-h1:text-3xl
prose-a:decoration prose-a:decoration-accent prose-a:decoration-wavy prose-a:decoration-2 prose-a:hover:decoration-primary prose-a:transition-colors prose-a:underline-offset-4 prose-p:text-justify prose-img:rounded-xl"
>
  <slot />
</div>
