<div id="stars" transition:persist transition:name="stars"></div>
<div id="shooting-stars" transition:persist transition:name="shooting-stars">
</div>
<script>
  import { tsParticles } from "@tsparticles/engine";
  import { loadSlim } from "@tsparticles/slim";

  await loadSlim(tsParticles);

  await tsParticles.load({
    id: "stars",
    options: {
      style: {
        opacity: "0.4",
      },
      fullScreen: {
        zIndex: -50,
      },
      particles: {
        number: {
          value: 80,
        },
        shape: {
          type: "circle",
        },
        opacity: {
          value: { min: 0.4, max: 1 },
          animation: {
            enable: true,
            speed: 0.5,
            sync: false,
          },
        },
        size: {
          value: { min: 0.8, max: 1.5 },
        },
        move: {
          enable: true,
          speed: { min: 0.01, max: 0.3 },
          direction: "left",
          random: true,
          straight: true,
          outModes: { default: "out" },
        },
      },
    },
  });

  await tsParticles.load({
    id: "shooting-stars",
    options: {
      background: {
        color: "transparent",
      },
      style: {
        opacity: "0.4",
      },
      fullScreen: {
        zIndex: -40,
      },
      particles: {
        number: {
          value: 2,
          density: {
            enable: true,
          },
        },
        color: {
          value: "hsl(254 74% 91%)",
        },
        shape: {
          type: "circle",
        },
        size: {
          value: { min: 0.8, max: 1.5 },
        },
        move: {
          enable: true,
          speed: { min: 3, max: 10 },
          direction: "bottom-right",
          random: true,
          straight: true,
          outModes: { default: "out" },
          trail: {
            enable: true,
            length: 5,
            fill: { color: "hsl(251 5% 8%)" },
          },
        },
      },
    },
  });
</script>
