---
import { getCollection, render } from "astro:content";
import Prose from "../../components/Prose.astro";
import SpacePageLayout from "../../layouts/SpacePageLayout.astro";
import ProjectPageLayout from "../../layouts/ProjectPageLayout.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { id: project.id },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<ProjectPageLayout title={project.data.name}>
  <div class="my-16 w-full rounded-lg grid place-content-center p-8">
    <img
      class="max-w-full rounded-lg object-cover"
      src={project.data.cover.src}
    />
  </div>
  <Prose>
    <Content />
  </Prose>
</ProjectPageLayout>
