---
import "../styles/global.css";

const { title = "" } = Astro.props;
---

<!doctype html>
<html lang="en" class="m-0 h-full dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Shtian's universe{title ? ` - ${title}` : ""}</title>
    <script>
      document.documentElement.classList.toggle(
        "dark",
        localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches),
      );
    </script>
  </head>
  <body
    class="m-0 w-full min-h-full font-sans antialiased bg-background text-foreground transition-colors"
  >
    <slot />
  </body>
</html>
